* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 245, 245);
    font-size: 18pt;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 140px;
}

article {
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    color: rgb(46, 46, 46);
}

p {
    margin-top: 10px;
}

article h1 {
    font-family: 'Quicksand', sans-serif;
    margin: 20px 0px;
}

h1, h2 {
    margin-top: 30px;
}

article p {
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(46, 46, 46);
    margin: auto;
    width: 1200px;
}
  
nav li {
    font-family: 'Roboto', sans-serif;
    float: left;
    border-right: 1px solid rgb(90, 90, 90);
    min-width: max-content;
}

nav li a {
    display: block;
    color: rgb(139, 139, 139);
    transition: ease-in 0.15s;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(15, 15, 15);
    color: rgb(245, 245, 245);
}

footer {
    display: flex;
    align-items: center;
    justify-content: right;
    position:fixed;
    width: 100%;
    background-color: rgb(46, 46, 46);
    min-height: 30px;
    left: 0px;
    bottom: 0px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgb(245, 245, 245);
}

footer p {
    margin: auto;
    width: 1200px;
    text-align:center;
}





/* fixed navigation bar */
.fixed {
	position: fixed;
	top: 0;
        width: 100%;
	z-index: 1;
}
