* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 245, 245);
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 140px;
}

#main {
    margin: 40px;
    color: rgb(46, 46, 46);
    font-size: 18px;
}

#nav ul {
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 70, 70);
}
  
#nav li {
    font-family: 'Roboto', sans-serif;
    float: left;
    border-right: 2px solid rgb(240, 240, 240);
    border-radius: 1px 20px 20px 1px;
    min-width: max-content;
    box-shadow: 3px 2px 3px rgb(20, 20, 20);
    
}

#nav li a {
    display: block;
    color: rgb(200, 200, 200);
    transition: ease-in 0.15s;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    border-radius: 1px 20px 20px 1px;
    background-color: rgb(40, 40, 40);
    color: rgb(245, 245, 245);
}

#footer {
    display: flex;
    align-items: center;
    justify-content: right;
    position:fixed;
    width: 100%;
    background-color: rgb(46, 46, 46);
    min-height: 30px;
    left: 0px;
    bottom: 0px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgb(245, 245, 245);
}

#footer p {
    padding-right: 10px;
}

#main h1 {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
    margin-top: 45px;
    font-size: 42px;
}

#main h1[id="first"] {
    margin-top: 0px;
}

#main p {
    font-family: 'Roboto', sans-serif;
}

#main h2 {
    font-family: 'Rasa', sans-serif;
    margin: 15px 0px;
    font-size: 25px;
}

#main ul {
    margin-left: 40px;
    margin-top: 20px;
}

#main li {
    font-family: 'Roboto', sans-serif;
    margin-top: 14px;
}