/* Disable all browser styles */
* {
    margin: 0;
    padding: 0;
}

/* Standard values */
body {
    background-color: rgb(245, 245, 245);
    font-size: 18pt;
}

/* Header with header image */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 140px;
}

/* Normal website text */
article {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    color: rgb(46, 46, 46);
}

/* Paragraph */
p {
    margin-top: 10px; /* Abstand zwischen Absaetzen */
}

/* Headings */
article h1 {
    font-family: 'Roboto', sans-serif;
    margin: 20px 0px;
}

h1, h2 {
    margin-top: 30px;
}

article p {
    font-family: 'Roboto', sans-serif;
}

/* Navigation bar */
nav ul {
    font-size: 18px;
    overflow: hidden;
    background-color: rgb(70, 70, 70);
    margin: auto;
    width: 1200px;
}

nav li {    
    font-family: 'Roboto', sans-serif;
    float: left; 
    list-style-type: none;
    border-right: 0.5px solid rgb(128, 128, 128);
    border-radius: 1px 20px 20px 1px;
    min-width: max-content;
    box-shadow: 3px 2px 3px rgb(20, 20, 20);
}

nav li a {
    display: block;
    color: rgb(200, 200, 200);
    transition: ease-in 0.15s;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    border-radius: 1px 20px 20px 1px;
    background-color: rgb(40, 40, 40);
    color: rgb(245, 245, 245);
}

/* Footer with copyright message */
footer {
    display: flex;
    align-items: center;
    justify-content: right;
    position: initial;
    width: 100%;
    background-color: rgb(46, 46, 46);
    min-height: 30px;
    left: 0px;
    bottom: 0px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgb(245, 245, 245);
}

footer p {
    margin: auto;
    width: 1200px;
    text-align:center;
}

/* ??? */
span{
    font-style: italic;
}

/* Button */
button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  left: 40%;
}




/* fixed navigation bar */
.fixed {
	position: fixed;
	top: 0;
        width: 100%;
	z-index: 1;
}


/* Download buttons */
#downloads {
        list-style-type: none;
}
#downloads ul li {
        float: left;
}

/* Projektlogo */
.projektlogo {
        width:27%; 
        transform: rotateZ(-37deg); 
        position: absolute; 
        float: left; 
        left: -1%; 
        top: 12%;
        z-index: -1; /* damit die Menue-Buttons ggf. darueber sind */
}
